.audio-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1E293B;
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid #334155;
    margin-bottom: 8px;
}

.audio-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.audio-player {
    display: flex;
    align-items: center;
}

audio {
    height: 38px;
    filter: invert(90%) hue-rotate(180deg) brightness(1.2); 
    outline: none;
}